name: CI/CD Pipeline

on:
  push:
    branches:
      - main
      - ryanh-terraform

jobs:
  # terraform:
  #   runs-on: ubuntu-latest
  #   steps:
  #   - name: Checkout code
  #     uses: actions/checkout@v2

  #   - name: Setup Terraform
  #     uses: hashicorp/setup-terraform@v1

  #   - name: Terraform Init
  #     run: terraform init terraform/

  #   - name: Terraform Validate
  #     run: terraform validate terraform/

  #   - name: Terraform Plan
  #     run: terraform plan -out=tfplan -input=false terraform/

  #   - name: Terraform Apply
  #     run: terraform apply -auto-approve -input=false tfplan

  build_and_push:
    # needs: terraform
    runs-on: ubuntu-latest
    steps:
    - name: Checkout code
      uses: actions/checkout@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v1

    - name: Login to Azure Container Registry
      uses: docker/login-action@v1
      with:
        registry: ds4cr.azurecr.io
        username: DS4CR
        password: sz+2mh9D923sL8h0QpkvuJwiT1bEUnEP2m6TFC1g52+ACRAKFxEC

    - name: Build and push Docker image
      uses: docker/build-push-action@v2
      with:
        push: true
        context: .
        file: ./Dockerfile
        tags: ds4cr.azurecr.io/flaskapp:latest